<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <header>
        <ul>
            <li><a href="{ % url 'editar' % }">Editar</a></li>
            <li><a href="{% url 'crear' %}">Crear</a></li>
            <li><a href="{% url 'listar' %}">Listar</a></li>
            <li><a href="{ % url 'eliminar' % }">Eliminar</a></li>
        </ul>
    </header>
    <body><h3>Buscar Registro</h3>
            
            <form method="POST">
                {% csrf_token %}
                <input type="text" name = "id">
                <input type="submit" value="Buscar" >
            </form>
             
    </body>
</html>